*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/Coursera/dist/
/Coursera/nbproject/private/
/Coursera/build/

# Quem for compilar, crie sua propria config do Hibernate
hibernate.cfg.xml

